<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <table>
            <tbody>
                <tr><button onclick="window.location.href = '/cryptage'">Site cryptage</button></tr>
                <tr><button onclick="window.location.href = '/captcha'">Site captcha</button></tr>
                <tr><button onclick="window.location.href = '/ampoule'">Site Ampoule</button></tr>
                <tr><button onclick="window.location.href = '/artiste'">Site utilisateur</button></tr>
            </tbody>
        </table>
        
    </body>
</html>

