body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wrapper {
  left: 226px;
  right: 0;
  top: 70px;
  position: absolute;
}

#topbar {
  left: 226px;
  right: 0;
  top: 0;
  position: absolute;
}
#footer {
  left: 226px;
  right: 0;
  top: 640px;
  position: absolute;
}
