<title>Nouveau contact</title>
<form action="newcontact" method="post" enctype='application/json'>
    <fieldset>
        <legend>Entrer un nouveau contact :</legend>
        <input type="text" name="username" value="" placeholder="Entrez votre surnom"><br>
        <input type="email" name="mail" value="" placeholder="Entrez votre mail"><br>
        <input type="password" name="password" value="" placeholder="Entrez votre mot de passe"><br>
        <input type="submit" value="OK"><br>
    </fieldset>
</form>